<form class="col-lg-6" name="frmLogin" ng-submit="valider()">

    <div class="form-group">
        <label for="login">{{::lblLogin}}</label>
        <input type="text" class="form-control" ng-model="login" />
    </div>
    <div class="form-group">
        <label for="mdp">{{::lblMdp}}</label>
        <input type="password" class="form-control" ng-model="mdp" />
    </div>
    <div class="alert alert-danger" ng-show="msgErreur">{{::lblMessage}}</div>
    <input type="submit" value="{{::btnValider}}">
</form>
<ng-include src="'vues/logo.html'"> </ng-include>